nav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 0.5% 10%;



}

.nav-bar{

    background: #212EA0;
    transition: 1s;
}

.nav-menu{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    color: white;

}

.nav-menu li{

    list-style-type: none;;
}

.nav-img{

    width: 14rem;
}

